version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/requirements"
    schedule:
      interval: "weekly"
      day: "tuesday"
    target-branch: "develop"
    ignore:
      # ignore all patch updates since we are using ~=
      # this does not work for security updates
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]
      - dependency-name: "boto3"
        update-types: ["version-update:semver-minor"]

  # the requirements are the same among all the integrations for now so one of them is enough
  - package-ecosystem: "pip"
    directory: "/integrations/malware_tools_analyzers"
    schedule:
      interval: "weekly"
      day: "tuesday"
    target-branch: "dependabot-validation"
    ignore:
      # ignore all patch updates since we are using ~=
      # this does not work for security updates
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]

  - package-ecosystem: "npm"
    directory: "/frontend"
    schedule:
      interval: "weekly"
      day: "tuesday"
    target-branch: "develop"

  - package-ecosystem: "docker"
    directory: "/docker"
    schedule:
      interval: "weekly"
      day: "tuesday"
    target-branch: "develop"
    ignore:
      # ignore all patch updates since we are using ~=
      # this does not work for security updates
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]

  - package-ecosystem: "docker"
    directory: "/integrations/tor_analyzers"
    schedule:
      interval: "weekly"
      day: "tuesday"
    target-branch: "dependabot-validation"
    ignore:
      # ignore all patch updates since we are using ~=
      # this does not work for security updates
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]

  - package-ecosystem: "docker"
    directory: "/integrations/rendertron"
    schedule:
      interval: "weekly"
      day: "tuesday"
    target-branch: "dependabot-validation"
    ignore:
      # ignore all patch updates since we are using ~=
      # this does not work for security updates
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]

  - package-ecosystem: "docker"
    directory: "/integrations/pcap_analyzers"
    schedule:
      interval: "weekly"
      day: "tuesday"
    target-branch: "dependabot-validation"
    ignore:
      # ignore all patch updates since we are using ~=
      # this does not work for security updates
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]

  - package-ecosystem: "docker"
    directory: "/integrations/malware_tools_analyzers"
    schedule:
      interval: "weekly"
      day: "tuesday"
    target-branch: "dependabot-validation"
    ignore:
      # ignore all patch updates since we are using ~=
      # this does not work for security updates
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "tuesday"
    target-branch: "develop"
    ignore:
      # ignore all patch updates since we are using ~=
      # this does not work for security updates
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]
