[flake8]
max-line-length = 140
ignore =
    W503,
    E231,
    W605,
exclude =
    Dockerfile,
    docker-compose*,
    venv,
    docs,
    migrations,
    virtualenv,
    ldap_config.py
    api_app/analyzers_manager/migrations/*
    api_app/ingestors_manager/migrations/*