[flake8]
max-line-length = 88
ignore =
    W503, # line break before binary operator
    E231, # missing whitespace after ',' (caused by black style)
    W605, # invalid escape sequence (caused by regex)
exclude =
    Dockerfile,
    docker-compose*,
    venv,
    docs,
    migrations,
    virtualenv,
    ldap_config.py