.idea
.vscode
__pycache__
test_files
docker/env_file_app
docker/env_file_postgres
docker/env_file_integrations
docker/custom.override.yml
venv/
intel_owl_test_env/
compose-elk.yml
docs/build/
configuration/service_account_keyfile.json
coverage_reports/
node_modules/
frontend/.env
frontend/public/env.js
/docker/.env.start.test
