boto3==1.17.39
celery==4.4.7
checkdmarc==4.3.1
dataclasses==0.6
Django==2.2.20
django-auth-ldap==2.2.0
django-memoize==2.3.1
django-nose==1.4.7
django-rest-durin==0.1.0
djangorestframework==3.12.4
djangorestframework-guardian==0.3.0
dnspython==1.16.0
dnstwist==20201228
ppdeep>=20200505
drf-spectacular==0.15.0
easygui==0.98.2
eventlet==0.29.1
flower==0.9.7
GitPython==3.1.14
google>=3.0.0
google-cloud-webrisk==1.2.0
maxminddb==2.0.3
mwdblib==3.4.0
oletools==0.56.1
OTXv2==1.5.12
peepdf-fork==0.4.3
pdfid==1.0.4
pefile-fork==2020.12.16
psycopg2-binary==2.8.6
pydeep==0.4
pyexifinfo==0.4.0
pymisp==2.4.141.1
pypdns==1.5.2
pypssl==2.2
pysafebrowsing==0.1.1
PySocks==1.7.1
python-magic==0.4.22
quark-engine==21.3.4
requests==2.25.1
speakeasy-emulator==1.5.2
uWSGI==2.0.19.1
yara-python==4.0.5
git+https://github.com/DissectMalware/XLMMacroDeobfuscator.git@4b5d649b0028e2c109f5f5d7a7547ef9dcccc90a