boto3==1.19.8
celery==5.1.2
django-celery-results==2.2.0
checkdmarc==4.4.1
darksearch==2.1.2
dataclasses==0.6
Django==3.2.5
django-auth-ldap==3.0.0
django-rest-durin==0.3.0
django-cache-memoize==0.1.9
djangorestframework==3.12.4
drf-flex-fields==0.9.1
djangorestframework-guardian==0.3.0
django-storages==1.12.1
dnspython==2.1.0
dnstwist==20201228
ppdeep>=20200505
drf-spectacular==0.20.1
easygui==0.98.2
flower==1.0.0
GitPython==3.1.18
google>=3.0.0
google-cloud-webrisk==1.6.0
intezer-sdk==1.4.5.1
maxminddb==2.2.0
mwdblib==3.4.0
oletools==0.60
OTXv2==1.5.12
peepdf-fork==0.4.3
pdfid==1.0.4
pefile-fork==2020.12.16
psycopg2-binary==2.9.1
pycti==5.0.1
pydeep==0.4
PyExifTool==0.4.9
pyhashlookup==0.9
pymisp==2.4.144
pypdns==1.5.2
pypssl==2.2
pysafebrowsing==0.1.1
PySocks==1.7.1
quark-engine==21.10.2
requests==2.26.0
speakeasy-emulator==1.5.3
uWSGI==2.0.19.1
yara-python==4.1.0
pydragonfly==0.0.1

git+https://github.com/DissectMalware/xlrd2.git@a666cd8fb4dba4e2898f4f33ee4da515ba91d9b2
git+https://github.com/DissectMalware/pyxlsb2.git@8cc2ee6c7176a6808f9058fda9b235d10a7b7a47
git+https://github.com/DissectMalware/XLMMacroDeobfuscator.git@2f1894a3bd61b92f53a5d6a4af73f9f052f24d71
