amqp==2.5.1
asn1crypto==0.24.0
atomicwrites==1.3.0
attrs==19.1.0
Babel==2.7.0
billiard==3.6.1.0
boto3==1.9.216
botocore==1.12.216
celery==4.3.0
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
colorama==0.3.7
colorclass==2.2.0
configparser==3.8.1
cryptography==2.7
dataclasses==0.6
Deprecated==1.2.6
Django==2.2.9
djangorestframework==3.9.4
dnspython==1.16.0
docutils==0.15.2
easygui==0.98.1
fasttext==0.9.1
flower==0.9.3
future==0.17.1
gitdb2==2.0.5
GitPython==3.0.2
idna==2.8
importlib-metadata==0.19
jmespath==0.9.4
joblib==0.13.2
jsbeautifier==1.6.2
jsonschema==3.1.1
kombu==4.6.5
lightgbm==2.1.2
maxminddb==1.5.2
more-itertools==7.2.0
msoffcrypto-tool==4.10.1
numpy==1.17.1
olefile==0.46
oletools==0.55
OTXv2==1.5.3
peepdf==0.4.2
pefile==2019.4.18
Pillow==3.2.0
pluggy==0.13.0
psycopg2-binary==2.8.4
py==1.8.0
pyasn1==0.4.6
pyasn1-modules==0.2.6
pybind11==2.4.2
pycparser==2.19
pycurl==7.43.0.3
pydeep==0.4
pyexifinfo==0.4.0
pyintelowl==0.1.2
pymisp==2.4.119
pyparsing==2.4.2
pypdns==1.4.1
pypssl==2.1
pyrsistent==0.15.4
pysafebrowsing==0.1.1
PySocks==1.7.0
pytest==3.10.1
python-dateutil==2.8.0
python-magic==0.4.15
pythonaes==1.0
pytz==2019.2
requests==2.22.0
requests-cache==0.5.2
s3transfer==0.2.1
scikit-learn==0.21.3
scipy==1.3.1
six==1.12.0
smmap2==2.0.5
sqlparse==0.2.4
stringsifter==0.20190907
tornado==5.1.1
urllib3==1.25.3
uwsgi==2.0.18
vine==1.3.0
wrapt==1.11.2
yara-python==3.10.0
zipp==0.6.0
