$total-arrows: 3;
$arrow-line-length: 15px;
$arrow-line-width: 2px;
$arrows-container-height: 40px;

// arrow animtion + choose direction
@mixin arrow-transitions($rot: 0deg) {
  transform: translate(-50%, -50%) rotateZ($rot);
}

// arrows
.animatedArrow-container-hover {
  .animatedArrow {
    top: 50%;
    &:before {
      @include arrow-transitions(-30deg);
    }
    &:after {
      @include arrow-transitions(30deg);
    }
  }
}

.animatedArrow-container {
  position: absolute;
  left: 50%;
  width: 100px;
  height: $arrows-container-height;
  @include arrow-transitions(0deg);
  &:hover {
    cursor: pointer;
    @extend .animatedArrow-container-hover;
  }
}

.animatedArrow {
  position: absolute;
  left: 50%;
  transition: all 0.4s ease;
  &:before,
  &:after {
    transition: all 0.4s ease;
    content: "";
    display: block;
    position: absolute;
    transform-origin: bottom right;
    background: #fff;
    width: $arrow-line-width;
    height: $arrow-line-length;
    border-radius: 10px;
    transform: translate(-50%, -50%) rotateZ(-45deg);
  }
  &:after {
    transform-origin: bottom left;
    transform: translate(-50%, -50%) rotateZ(45deg);
  }
  @for $i from 1 through $total-arrows {
    &:nth-child(#{$i}) {
      opacity: 0.3 * $i;
      top: 15 + (100% * $i/5);
    }
  }
}
