// Home.jsx

@import "./animations.scss";
@import url("https://fonts.googleapis.com/css?family=Pacifico:400");

html {
  overflow-x: hidden;
}

#home__bgImg {
  background-color: #000;
  position: relative;
  height: 95vh;
  width: 100vw;
  top: -25px;
  left: -50px;
  opacity: 1;
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100% !important;
}

#home__versionText {
  position: absolute;
  top: 25%;
  left: 75%;
  font-family: Pacifico;
  transform: rotate(335deg) !important;
  -ms-transform: rotate(335deg) !important;
}

#home__svgArrow {
  position: absolute;
  width: 100%;
  top: 95%;
}
