version: '3'

services:
  uwsgi:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    volumes:
      - ../:/opt/deploy/intel_owl
    environment:
      - DEBUG=True
      - DJANGO_TEST_SERVER=True

  nginx:
    volumes:
      - ../configuration/nginx/local.conf:/etc/nginx/conf.d/default.conf