# Required Secrets
DJANGO_SECRET=
DB_HOST=postgres
DB_PORT=5432
DB_USER=user
DB_PASSWORD=password
DB_SSL=False
DB_NAME=intel_owl_db

# Additional Config variables
# jobs older than this would be flushed from the database periodically. Default: 14 days
OLD_JOBS_RETENTION_DAYS=14
# used for generating links to web client e.g. job results page; Default: localhost
INTELOWL_WEB_CLIENT_DOMAIN=localhost
# used for automated correspondence from the site manager
DEFAULT_FROM_EMAIL=
# used for correspondence with users
DEFAULT_EMAIL=
# Storage
LOCAL_STORAGE=True

# OAuth2
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# SMTP backend
EMAIL_HOST= 
EMAIL_HOST_USER= 
EMAIL_HOST_PASSWORD= 
EMAIL_PORT=
EMAIL_USE_TLS=False
EMAIL_USE_SSL=False

# AWS
## S3 storage
AWS_STORAGE_BUCKET_NAME=
AWS_IAM_ACCESS=False
### to use if no IAM credentials are provided
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
## secrets, broker and region
AWS_SECRETS=False
AWS_SQS=False
AWS_USER_NUMBER=
AWS_REGION=eu-central-1
# IAM ROLE for RDS
AWS_RDS_IAM_ROLE=False
## to use for sending mail with SES
AWS_SES=False

# Uploads
SLACK_TOKEN=
DEFAULT_SLACK_CHANNEL=

# Elastic Search Configuration
ELASTICSEARCH_DSL_ENABLED=False
ELASTICSEARCH_DSL_HOST=
# consult to: https://django-elasticsearch-dsl.readthedocs.io/en/latest/settings.html
ELASTICSEARCH_DSL_NO_OF_SHARDS=1
ELASTICSEARCH_DSL_NO_OF_REPLICAS=0

ELASTICSEARCH_BI_ENABLED=False
ELASTICSEARCH_BI_HOST=
ELASTICSEARCH_BI_INDEX=intelowl-bi

# Test tokens
TEST_IP=8.8.8.8
TEST_DOMAIN=www.google.com
TEST_URL=https://www.google.com/search?test
TEST_MD5=446c5fbb11b9ce058450555c1c27153c

# other variables
STAGE="production"
DEBUG=False
LDAP_ENABLED=False
DISABLE_LOGGING_TEST=False
MOCK_CONNECTIONS=False
HTTPS_ENABLED=not_enabled
RADIUS_AUTH_ENABLED=False
# True for public deployment, False for internal deployment
PUBLIC_DEPLOYMENT=False
# broker configuration
BROKER_URL=redis://redis:6379/1
WEBSOCKETS_URL=redis://redis:6379/0

FLOWER_USER=flower
FLOWER_PWD=flower

USE_RECAPTCHA=False
# drf-recaptcha
## localhost, internal deployments
RECAPTCHA_SECRET_KEY=""
