version: "3.8"

services:
  rabbitmq:
    image: library/rabbitmq:3.11-alpine
    container_name: intelowl_rabbitmq
    volumes:
      - ../configuration/rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf
    logging:
      driver: none