version: "3.8"
services:
  uwsgi:
    depends_on:
      redis:
        condition: service_healthy
    environment:
      BROKER_URL: "redis://redis:6379"
      WEBSOCKETS_URL: "redis://redis:6379"

  daphne:
    depends_on:
      redis:
        condition: service_healthy


  redis:
    image: library/redis:6.2.7-alpine
    container_name: intelowl_redis
    hostname: redis
    restart: unless-stopped
    volumes:
      - generic_logs:/var/log/intel_owl
    expose:
      - "6379"
    healthcheck:
      test: test $$(redis-cli -h '127.0.0.1' ping) = 'PONG'