version: '3'

services:
  uwsgi:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    volumes:
      - ../:/opt/deploy/intel_owl

  nginx:
    build:
      context: ..
      dockerfile: docker/Dockerfile_nginx
    volumes:
      - ../configuration/nginx_local.conf:/etc/nginx/conf.d/default.conf