{% load static %}
<body>
  <!-- Main content -->
  <main>
    <div>
      Dear IntelOwl user,

      <p>
        Please click the link below to reset your password on IntelOwl.
      </p>

      <div style="border: 1px solid black; padding: 4px">
        <a href="{{ reset_url }}" target="_blank">{{ reset_url }}</a>
      </div>

      <p>or, you may also copy and paste directly into your browser's URL bar.</p>

      <pre style="background-color: #eeeeee">{{ reset_url }}</pre>

      <p>
        <em>Note: This URL is valid only for the next 24 hours.</em>
      </p>

      <p>
        If you did not request a password reset, you can safely ignore this email.
      </p>
    </div>
  </main>
  <!-- Footer -->
  <footer>
    <hr />
    Thank you,
    <br />
    <strong>IntelOwl ©</strong>
  </footer>
</body>
