{% extends "nav.html" %}

{% block content %}
{# enctype="multipart/form-data" #}
<div class="inner cover">
    <form action="/gui/query_database" method="post">
        <div class="form-group row">
            <div class="col-md-6" align="left">
                <b>Query database</b>
            </div>
        </div>

        {% csrf_token %}

        <div class="form-group row">
            <label for="id" class="col-md-1 col-form-label">ID</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="id" name="id" placeholder="id">
            </div>

            <label for="md5" class="col-md-1 col-form-label">MD5</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="md5" name="md5" placeholder="md5">
            </div>

            <label for="file_name" class="col-md-1 col-form-label">File name</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="file_name" name="file_name" placeholder="file_name">
            </div>

            <label for="observable_name" class="col-md-1 col-form-label">Observable name</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="observable_name" name="observable_name" placeholder="observable_name">
            </div>

           <label for="status" class="col-md-1 col-form-label">Status</label>
            <div class="col-md-2">
                <select class="form-control" id="status" name="status">
                    <option></option>
                    <option>pending</option>
                    <option>running</option>
                    <option>reported_without_fails</option>
                    <option>reported_with_fails</option>
                    <option>failed</option>
                </select>
            </div>

            <label for="source" class="col-md-1 col-form-label">Source</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="source" name="source" placeholder="source">
            </div>

            <label for="limit" class="col-md-1 col-form-label">Limit [10]</label>
            <div class="col-md-2">
                <input type="number" class="form-control" id="limit" name="limit" placeholder="limit">
            </div>

            <label for="count" class="col-md-2 col-form-label">Only count (fast check)</label>
            <div class="col-md-1">
                <input type="checkbox" class="form-control" id="count" name="count">
            </div>

            <div class="col-md-2 offset-md-5" style="padding-top:10px;">
                <button type="submit" class="btn btn-primary" name="find">Find</button>
            </div>
        </div>
    </form>

    {% if post %}
    <div>
        <p> SEARCH RESULT: Found {{ count }} jobs </p>
        {% if not only_count %}
            {% for job in jobs %}
            <div>
                <a class="btn btn-primary" href="/gui/query_database/{{ job.id }}" role="button">
                    ID: {{ job.id }}
                </a>
            </div>
            {% endfor %}
        {% endif %}
    </div>
    {% endif %}
</div>

{% endblock %}

