#certego-saas==0.1.0
# While developing for certego-saas, comment the previous line.
# Then, add a line like the one below to your forked repo and your most recent commit
# In this way you can test your changes directly in IntelOwl with the complete application
git+https://github.com/certego/certego-saas.git@c1821353be16574c0df96fd9cbe157b358541280#egg=certego_saas