#certego-saas==0.1.0
# While developing for certego-saas, comment the previous line.
# Then, add a line like the one below to your forked repo and your most recent commit
# In this way you can test your changes directly in IntelOwl with the complete application
git+https://github.com/certego/certego-saas.git@c96dc01356513d002227acfc66a13afafa3a9faa#egg=certego_saas