# This file is used exclusively to trigger dependabot PR.
# The update of the dependencies here has no actual effect.
# For each updated dependency here you have to update its relative version hardcoded in the code.
# So please add a comment for each dependency explaining where the related code must be updated.

# docker/Dockerfile
pycti==6.8.8

# other unmanaged versions
# droydlys - they make no new versions, we pin the commit
# goresym - they create releases in the repo
# boxjs - we can get that info from npm packages