# django libs
Django==4.2.17
psycopg2-binary==2.9.6
django-auth-ldap==5.1.0
django-radius==1.5.0
django-filter==25.1
django-storages==1.14
django-celery-beat==2.7.0
django-celery-results==2.5.0
django-ses == 4.4.0
django-iam-dbauth==0.2.1
django-prettyjson==0.4.1
django-silk==5.3.2
django-treebeard==4.7
django-solo==2.4.0
django_extensions==3.2.3
jsonschema==4.23.0
# django rest framework libs
Authlib==1.4.0
djangorestframework==3.15.2
djangorestframework-filters==1.0.0.dev2
drf-spectacular==0.28.0
django-rest-email-auth==4.0.0

# infra
boto3==1.39.4
celery[sqs,redis]==5.4.0
dataclasses==0.6
# https://github.com/advisories/GHSA-q4qm-xhf9-4p8f
# unpatched CVE: noproblem, we just use this for debugging purposes
flower==2.0.0
uWSGI==2.0.28
uwsgitop==0.12
whitenoise==6.9.0
daphne==4.1.0
channels==4.1.0
channels-redis==4.2.0
elasticsearch-dsl==8.17.0

# plugins
GitPython==3.1.41
checkdmarc==5.7.9
dnspython==2.7.0
dnstwist[full]==20250130
google>=3.0.0
google-cloud-webrisk==1.17.0
intezer-sdk==1.21
lief==0.15.1
maxminddb==2.6.0
geoip2==4.8.0
mwdblib==4.5.0
oletools==0.60.2
OTXv2==1.5.12
peepdf-fork==0.4.3
pdfid==1.1.0
pefile==2024.8.26
Pillow==11.0.0
pydeep==0.4
pyelftools==0.31
PyExifTool==0.5.0
pyhashlookup==1.2.0
pyimpfuzzy==0.5
pymisp==2.5.0
pyOneNote==0.0.2
pypdns==2.2.1
pypssl==2.2
pysafebrowsing==0.1.1
PySocks==1.7.1
py-tlsh==4.7.2
quark-engine==25.1.1
speakeasy-emulator==1.5.9
telfhash==0.9.8
yara-python==4.5.1
greynoise==2.3.0
XLMMacroDeobfuscator[secure]==0.2.3
thinkst-zippy==0.1.2
querycontacts==2.0.0
hfinger==0.2.2
blint==2.3.2
permhash==0.1.4
ail_typo_squatting==2.7.4
iocextract==1.16.1
ioc-finder==7.0.0
polyswarm-api==3.10.0
knock-subdomains==7.0.1
dotnetfile==0.2.4
docxpy==0.8.5
pylnk3==0.4.2
androguard==3.4.0a1 # version >=4.x of androguard raises a dependency conflict with quark-engine==25.1.1
wad==0.4.6
debloat==1.6.4
phonenumbers==9.0.3
die-python==0.4.0
guarddog==2.1.0 # version greater than 2.1.0 raises dependency conflicts
jbxapi==3.23.0

# httpx required for HTTP/2 support (Mullvad DNS rejects HTTP/1.1 with protocol errors)
httpx[http2]==0.28.1


# this is required because XLMMacroDeobfuscator does not pin the following packages
pyxlsb2==0.0.8
xlrd2==1.3.4
defusedxml==0.7.1

# required by MalwareBazaar Ingestor -> https://bazaar.abuse.ch/api/#download (read the warning)
pyzipper==0.3.6

# others
dateparser==1.2.0
DeepDiff==8.2.0
# phishing form compiler module
lxml==5.3.0
Faker==36.1.0
beautifulsoup4==4.13.4