name: 'Dependency Review'
on:
  pull_request:
    branches: [ master, develop ]

permissions:
  contents: read

jobs:
  dependency-review:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout Repository'
        uses: actions/checkout@v4.2.2
      - name: 'Dependency Review'
        uses: actions/dependency-review-action@v4