name: Pull request automation

on:
  pull_request:
    branches: [ master, develop ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Before Install
      run: |
        sudo apt-get update
        unzip -P infected tests/test_files.zip -d .
    - name: Install
      run: |
        sudo docker-compose -f docker/default.yml -f docker/ci.override.yml build
        sudo docker-compose -f docker/default.yml -f docker/ci.override.yml up -d
    - name: Check Black code Style
      run: |
        sudo docker exec intel_owl_uwsgi black . --check --exclude "migrations|venv"
    - name: Lint with flake8 (PEP8 enforcer + linter)
      run: |
        sudo docker exec intel_owl_uwsgi flake8 . --count
    - name: Run Tests
      run: |
        sudo docker exec intel_owl_uwsgi python manage.py test tests
