permissions: read-all
name: Sphinx Build on Release

on:
  pull_request:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4.1.0
      - name: Set up Python
        uses: actions/setup-python@v5.1.0
        with:
          python-version: 3.9
      - name: Install docs requirements
        run: |
          pip install -r requirements/docs-requirements.txt

      - name: Build docs
        run: |
          make -C docs html
